@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;0,800;0,900;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Poppins', 'Montserrat';
  margin: 0;
  padding: 0;

}

:root {
  /* Color*/
  --body-color: #E4E9F7;
  --sidebar-color: #fff;
  --primary-color: #1C75FD;
  --primary-color-light: #F6F5FF;
  --toogle-color: #DDD;
  --text-color: rgb(0, 0, 0);

  /* transition */
  --tran-02: all 0.2s ease;
  --tran-03: all 0.3s ease;
  --tran-04: all 0.4s ease;
  --tran-05: all 0.5s ease;
}

body {
  height: 100vh;
  background: var(--body-color);
  transition: var(--tran-05);
}

body.dark {
  --body-color: #18191A;
  --sidebar-color: #242526;
  --primary-color: #F6F5FF;
  --primary-color-light: #ffffff;
  --toogle-color: #fff;
  --text-color: #ccc;
}

body.dark .switch::before {
    left: 25px
}

.card{
  @apply shadow-md;
  @apply rounded-xl;
  @apply border-0;
  @apply border-solid;
}