* {
    margin: 0px;
    padding: 0px;
}

body{
    font-family: "Poppins";
}

.image {
    background-repeat: no-repeat;
    position: absolute;
    width: 416px;
    height: 416px;
    left: 350px;
    top: 240px;
    background-image: url('cps.png');
}

.login{
    margin-top: 10px;
    margin-bottom: 0px;
}