
.cardHead p {
    color: #607D8B;
    font-size: 13px;
}

.cardHead h4 {
    margin-bottom: -7px;
}

.label{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cardPorcentage{
    color: #E25959;
}

.legend {
    margin-top: 15px;
}

.legend p{
    margin-right: 8px;
}

.legend h5{
    font-size: 1.3em;
    margin-bottom: -7px;
}