.tab-content {
    margin-left: 17%;
    padding: 10px;
    width: 83%;
    color: var(--text-color);
    transition: var(--tran-05);
    overflow-x: 0;
}

.header-content {
    padding-left: 12px;
    padding-top: 5px;
    margin-bottom: 15px;
}

.header-content,
.profile {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navTitle::first-letter {
    text-transform: capitalize;
}